
hr{
  border: none;
  height: 2px;
  background-color: #B4B4B4;
}
a {
    text-decoration: none;
}
a:link, a:visited{
    
   color: #7B7B7B;
   
    
}

#HomeLogo{
position: absolute;
/*display: talbe-cell;*/
margin-left: 17px;
margin-top: -35px;

}

#topRibbon{
  background-color: #82526A;
  margin-top: -8px;
    margin-left: -8px;

  width: 110%;
  position: static;
  display: table;
  height: 40px;
  
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  
}
#testDiv{
width = 100%;
height: 60px;
/*position: absolute;*/


}
#screenTitle{
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #B4B4B4;
  font-size: 20px;
  
}
#indexBody{

  background-image: url("brushed.png");
	/*background-color: #CCCCCC;*/
}
.menu{
  color: #7B7B7B;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

}
.menu a{
font-size: 130%;
}
.menu hr{
    border: none;
  height: 1px;
  background-color: #7B7B7B;
  margin: 0px;
  padding: 0px;
  
}

#MenuBody{
  background-color: #D6D6D6;
}
#menuLink{
  width: 15px;
}